<!DOCTYPE html>
<html lang="sv">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>margherita.se</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div id="wrapper">
        <div id="header">
            <p>margherita</p>
            <nav>
                <ul>
                    <li><a href="index.html">Startsida</a></li>
                    <li><a href="om.html">Om margherita.se</a></li>
                    <li><a href="rss.xml">Flöde</a></li>
                </ul>
            </nav>
        </div>